body{
 
  /* background-color: #f67d65; */
}

.App {
  text-align: center;
  background-color: #f37055;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

.wrapper{
  height: 100vh;
  width:100%;
}

@media(min-width:768px){
  .wrapper{
    background-color:transparent;
  }
}

.logo{
  margin-bottom:100px;
}


.sign-up {
  padding:20px;
  padding-top:50px;
  margin:0 auto;
  width:100%;
  
  position: relative;
}

.sign-up p{
  color:#fff;
  font-size:1.5rem;
  line-height: 1.625;
}

.sign-up h1{
  font-size:2rem;
  font-weight: bold;
  color:#fff;
  margin-bottom:1.5rem;
}

.sign-up label{
  width:100%;
  margin-right:10px;
}

.sign-up__button {
  margin-top:15px;
}

@media(min-width:768px){

  .sign-up{
    width:700px;
    position: absolute;
    left:50%;
    top:15%;
    transform: translateX(-50%);
    padding:15;
  }

  .sign-up label{
    width:400px;
  }

  .sign-up__button{
    margin-top: 0
  }

}

.sign-up .email{
  display: flex;
  justify-content: space-between;
  margin-top:50px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
